<app-admin></app-admin>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-info" style="max-width: 50rem; margin-bottom: 20px">
                <div class="card-body text-center">

                    <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                        <h5 class="card-title"> Insertar Empleado</h5>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Nombre</h6>

                        <div class="form-group">
                            <input type="text" #txt_name class="form-control" formControlName="lastName"
                                [ngClass]="{'is-invalid':form.get('lastName').touched && form.get('lastName').invalid}"
                                aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <div>Last Name is required</div>
                            </div>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Estado</h6>
                        <div class="input-group mb-3">
                            <select class="form-control" #select_estado data-style="btn-primary" data-live-search="true"
                                data-selectpicker data-collection-name="items" ng-model="selected">
                                <option selected>Casado?</option>
                                <option *ngFor="let esta of estado" [value]="esta.Id">{{esta.Name}}</option>
                            </select>
                        </div>

                        <div *ngIf="type>0">
                            <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Sede</h6>
                            <div class="input-group mb-3">
                                <select class="form-control" #select_sede data-style="btn-primary"
                                    data-live-search="true" data-selectpicker data-collection-name="items"
                                    ng-model="selected">
                                    <option selected>Cartago?</option>
                                    <option *ngFor="let sed of sede" [value]="sed.Id">{{sed.Name}}</option>
                                </select>
                            </div>
                        </div>


                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Departamento</h6>
                        <div class="input-group mb-3">
                            <select class="form-control" #select_dep data-style="btn-primary" data-live-search="true"
                                data-selectpicker data-collection-name="items" ng-model="selected">
                                <option selected>CE?</option>
                                <option *ngFor="let dep of departamento" [value]="dep.Id">{{dep.Name}}</option>
                            </select>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Puesto</h6>
                        <div class="input-group mb-3">
                            <select class="form-control" #select_puesto data-style="btn-primary" data-live-search="true"
                                data-selectpicker data-collection-name="items" ng-model="selected">
                                <option selected>Cajero?</option>
                                <option *ngFor="let job of puestos" [value]="job.Id">{{job.Name}}</option>
                            </select>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">Fecha de Ingreso</h6>
                        <div class="input-group mb-3">
                            <input type="date" #txt_fecha_ingreso [(ngModel)]="dateOfBirth" class="form-control" />
                        </div>

                        <div class="form-group">
                            <h6 class="card-subtitle mb-2 text-muted">Descripcion</h6>
                            <span class="btn btn-rose btn-round btn-file">
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/png, image/jpeg, image/jpg, image/PNG, image/bmp"
                                   (change)="onPhotoChange($event)" name="photo"> 
                                
                            </span>
                        </div>
                        <div class="form-group">
                            <button
                                (click)="add_employee(txt_name.value,select_estado.value,select_sede.value,select_dep.value,select_puesto.value,txt_fecha_ingreso.value)"
                                class="btn btn-primary" >Ingresar</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Depreciacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asset of assets">
                        <th scope="row">{{ asset.id }}</th>
                        <td>{{ asset.name }}</td>
                        <td>{{ asset.code}}</td>
                        <td>{{ asset.depreciation}}</td>
                        <td>
                            <button mat-icon-button color="accent" class='btn btn-danger' (click)="updatesEmployee()">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button> </td>
                        <td>
                            <button class='btn btn-danger' (click)="deleteEmployee()" >
                                <mat-icon aria-label="Edit">delete</mat-icon>
                            </button> </td>

                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
            </div>
        </div>

    </div>
</div>