<div class="wrapper wrapper-full-page" style="background-color: rgba(94, 94, 94, 0.86);">
<br><br>
<div class="container-fluid">
  <div class="card-columns">
    <ng-container *ngFor="let promo of promos; let i = index" >
    <div class="card">
      <img class="card-img-top" src={{promo.photo}} alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{promo.code}} - {{promo.name}}</h3>
        <p class="card-text" ><strong>Description: </strong> {{promo.description}} </p>
        <p class="card-text" ><strong>Percent: </strong> {{promo.percent}}</p>
        <p class="card-text" ><strong>Fecha Inicio: </strong> {{promo.begin}}</p>
        <p class="card-text" ><strong>Fecha Fin: </strong> {{promo.end}}</p>
        <div class="row">
        	<div class="col">
        		<button (click)="editPromo(promo.Code)" class="btn btn-primary">
        			<i class="fas fa-edit"></i> Modificar
        		</button>		
        	</div>
        	<div class="col">
        		<button (click)="deletePromo(promo.Code)" class="btn btn-primary">
        			<i class="fas fa-trash"></i> Borrar
        		</button>		
        	</div>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
</div>
<a [routerLink]="['/pages/promo/agregar']" class="float">
    <i class="fa fa-plus my-float"></i>
</a>
