<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <div class="card border-info" style="max-width: 50rem;
                margin-bottom: 20px">
                <div class="card-body text-center">
                    <h5 class="card-title"> Insert Product</h5>

                    <form name="form" [formGroup]="form"
                        (ngSubmit)="onSubmit()">
                        <!--Aqui Se Pondría la Imagen-->
                        <div style="margin-top: 20px">

                            <img src="assets/images/avatar.png" id="img"
                                alt="Avatar" class="avatar">
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <h6 class="card-subtitle mb-2 text-muted"
                                    style="margin-top: 20px">ProductId</h6>

                                <div class="form-group">
                                    <input type="text" #txt_id
                                        class="form-control"
                                        formControlName="ProductId"
                                        [ngClass]="{ 'is-invalid': submitted &&
                                        f.ProductId.errors }" />
                                    <div *ngIf="submitted && f.ProductId.errors"
                                        class="invalid-feedback">
                                        <div
                                            *ngIf="f.ProductId.errors.required">ProductId
                                            Required</div>
                                    </div>
                                </div>

                                <h6 class="card-subtitle mb-2 text-muted"
                                    style="margin-top: 20px">Name</h6>
                                <div class="form-group">
                                    <input type="text" #txt_name
                                        class="form-control"
                                        formControlName="Name"
                                        [ngClass]="{ 'is-invalid': submitted &&
                                        f.Name.errors }" />
                                    <div *ngIf="submitted && f.Name.errors"
                                        class="invalid-feedback">
                                        <div
                                            *ngIf="f.Name.errors.required">Name
                                            Required
                                        </div>
                                    </div>
                                </div>

                                <h6 class="card-subtitle mb-2 text-muted"
                                    style="margin-top: 20px">Description</h6>
                                <div class="form-group">
                                    <input type="text" #txt_description
                                        class="form-control"
                                        formControlName="Description"
                                        [ngClass]="{ 'is-invalid': submitted &&
                                        f.Description.errors }" />
                                    <div *ngIf="submitted &&
                                        f.Description.errors"
                                        class="invalid-feedback">
                                        <div
                                            *ngIf="f.Description.errors.required">Description
                                            Required</div>
                                    </div>
                                </div>

                                <h6 class="card-subtitle mb-2 text-muted"
                                    style="margin-top: 20px">Value</h6>
                                <div class="form-group">
                                    <input type="text" #txt_value
                                        class="form-control"
                                        formControlName="Value"
                                        [ngClass]="{ 'is-invalid': submitted &&
                                        f.Value.errors }" />
                                    <div *ngIf="submitted && f.Value.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.Value.errors.required">Value
                                            Required</div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <h6 class="card-subtitle mb-2 text-muted"
                                    style="margin-top: 20px">Company</h6>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <select class="form-control"
                                            id="dep-Company"
                                            name="company"
                                            formControlName="Company"
                                            #select_dep data-style="btn-primary"
                                            data-live-search="true"
                                            data-selectpicker
                                            data-collection-name="items"
                                            ng-model="selected"
                                            [ngClass]="{ 'is-invalid': submitted
                                            && f.Company.errors }">
                                            <option [ngValue]="null">Select
                                                a Company</option>
                                        </select>
                                        <div *ngIf="submitted &&
                                            f.Company.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="f.Company.errors.required">Company
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">Photo</h6>
                                <span class="btn btn-rose btn-round btn-file">
                                    <input type="file" class="form-control-file"
                                        id="exampleFormControlFile1"
                                        accept="image/png, image/jpeg,
                                        image/jpg, image/PNG, image/bmp"
                                        (change)="onPhotoChange($event)"
                                        name="photo">
                                </span>

                            </div>
                        </div>

                        <div class="form-group">
                            <button id="registrar_btn" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-8">
                <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching ">
                      </div>

            <table d ="table_company" name="table_company" class="table table-striped">
              <thead>
                <tr class="table-primary">
                  <th scope="col">IdCompany</th>
                  <th scope="col">IdProduct</th>
                  <th scope="col">Name</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let company of companies | filter:searchText">
                  <th scope="row">{{ company.id }}</th>
                  <td>{{ company.idproduct}}</td>
                  <td>{{ company.name }}</td>
                  <td>{{ company.value}}</td>
                  <td>
                    <button (click)=deleteCompany(company.idproduct) type="button"
                    class="btn btn-info">Delete</button> </td>
                </tr>
      
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
          </div>
      
          </div>

    </div>
</div>