<app-admin></app-admin>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngIf="type>0">
            <div class="card border-info" style="max-width: 50rem; margin-bottom: 20px">
                <div class="card-body text-center">
                    <h5 class="card-title"> Insertar Sede</h5>
                    
                    <form>
                        
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Nombre</h6>
                        <div class="input-group mb-3">
                            <input type="text" #txt_name class="form-control" placeholder="Carlos Alfaro Santos"
                                aria-label="Descripcion" aria-describedby="basic-addon1">
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Codigo</h6>
                        <div class="input-group mb-3">
                            <input type="text" #txt_code class="form-control" placeholder="090909"
                                aria-label="Descripcion" aria-describedby="basic-addon1">
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Descripcion</h6>
                        <div class="input-group mb-3">
                            <input type="text" #txt_description class="form-control" placeholder="xxxxxxx"
                                aria-label="Descripcion" aria-describedby="basic-addon1">
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Provincia</h6>
                        <div class="input-group mb-3">
                            <select id="provincia-Dropdown" name="provincia"class="form-control" #select_provincia data-style="btn-primary"
                                data-live-search="true" data-selectpicker data-collection-name="items"
                                ng-model="selected">
                            </select>
                        </div>


                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Canton</h6>
                        <div class="input-group mb-3">
                            <select class="form-control" #select_canton data-style="btn-primary" data-live-search="true"
                                data-selectpicker data-collection-name="items" ng-model="selected">
                                <option selected>Cartago?</option>
                                <option *ngFor="let cant of canton" [value]="cant.Id">{{cant.Name}}</option>
                            </select>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Distrito</h6>
                        <div class="input-group mb-3">
                            <select id="distrito-Dropdown" name="distrito"class="form-control" #select_distrito data-style="btn-primary"
                                data-live-search="true" data-selectpicker data-collection-name="items"
                                ng-model="selected">
                            </select>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Estado</h6>
                        <div class="input-group mb-3">
                            <select  id="estadoSede-Dropdown" name="estadoSede" class="form-control" #select_estado data-style="btn-primary" data-live-search="true"
                                data-selectpicker data-collection-name="items" ng-model="selected">
                            </select>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Asignar Administrador</h6>
                        <div class="input-group mb-3">
                            <select class="form-control" #select_employee data-style="btn-primary"
                                data-live-search="true" data-selectpicker data-collection-name="items"
                                ng-model="selected">
                                <option selected>Jeanpol</option>
                                <option *ngFor="let employee of empleado" [value]="employee.Id">{{employee.Name}}
                                </option>
                            </select>
                        </div>


                        <div *ngIf="type>0">
                            <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">NGIF</h6>
                            <div class="input-group mb-3">
                                <select class="form-control" #select_employee data-style="btn-primary"
                                    data-live-search="true" data-selectpicker data-collection-name="items"
                                    ng-model="selected">
                                    <option selected>Jeanpol</option>
                                    <option *ngFor="let employee of empleado" [value]="employee.Id">{{employee.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>



                        <h6 class="card-subtitle mb-2 text-muted">Fecha de Ingreso Admin</h6>
                        <div class="input-group mb-3">
                            <input type="date" #txt_fecha_ingreso [(ngModel)]="dateOfBirth" class="form-control" />
                        </div>


                        <button type="button" class="btn btn-primary" (click)="add_sede(txt_name.value,txt_code.value,txt_description.value,select_provincia.value,select_canton.value,
                        select_distrito.value,select_estado.value,select_employee.value,txt_fecha_ingreso.value)">
                            Ingresar</button>

                    </form>
                </div>
            </div>
        </div>
        <!--TABLA-->
        <div class="col-md-8">
            <table id ="table_Sede_Table" name="table_Sede" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#Codigo</th>
                        <th scope="col">Sede</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Canton</th>
                        <th scope="col">Distrito</th>
                        <th scope="col">Apellido1</th>
                        <th scope="col">Apellido2</th>
                        <th scope="col">Nombre</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sede of sedes">
                        <th scope="row">{{ sede.id }}</th>
                        <td>{{ sede.name }}</td>
                        <td>{{ sede.provincia}}</td>
                        <td>{{ sede.canton}}</td>
                        <td>{{ sede.distrito}}</td>
                        <td>{{ sede.apellido1}}</td>
                        <td>{{ sede.apellido2}}</td>
                        <td>{{ sede.nombre}}</td>
                        <td>
                            <!-- <button mat-icon-button color="accent" class='btn btn-danger' (click)="updateSede()">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button> </td>
                        <td>
                            <button class='btn btn-danger' (click)="deleteSede()">
                                <mat-icon aria-label="Edit">delete</mat-icon>
                            </button> </td> -->

                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
            </div>
        </div>

    </div>

</div>