<div>
    <nav class="navbar navbar-dark" style="background-color: #0b4980;">
        <a class="navbar-brand" id="logo" href="admin_view/admin-dashboard">Administrador</a>
        <button (click)="CerrarSesion()" type="button" class="btn
            btn-outline-light" id="btnCerrarSesion">
            CERRAR SESION
        </button>
    </nav>
</div>

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">

        <li class="nav-item">
            <a class="nav-link" href="admin_view/manage-assets">Administrar de
                Activos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin_view/crud-sede" id="perfLink01">Adminsitrar
                Sedes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin_view/crud-employee"
                id="cuentLink01">Administrar Empleados</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin_view/reporte" id="cuentLink01">Generar Reportes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="admin_view/cal-depreciation"
                id="cuentLink01">Calcular Depreciaciones:</a>
        </li>
    </ul>
</div>

