<div class="form-group">
  <mat-toolbar class="toolbar">
    <mat-card-title>Editar Empleado</mat-card-title>
    <span class="toolbar-spacer"></span>
    <div>
      <button mat-icon-button color="accent" class="btn btn-danger" style="margin-left: 740px" (click)="onNoClick()">
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="row">
    <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <h5 class="card-title">Información Actual:</h5>
        <div mat-dialog-content>
          Cedula: {{data.Cedula}}
          <p></p>
          <!-- Departamento: {{data.Departamento}}
          <p></p>
          Puesto: {{data.Puesto}}
          <p></p> -->
          Correo: {{data.Correo}}
          <p></p>
        </div>

        <!--Aqui Se Pondría la Imagen-->

        <div style="margin-top: 20px">
          <img src="assets/images/avatar.png" id="imgUPManager" alt="Avatar" class="avatar">
        </div>

        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Correo</h6>
        <div class="form-group">
          <input type="text" #txt_correo class="form-control" formControlName="CorreoP"
            [ngClass]="{ 'is-invalid': submitted && f.CorreoP.errors }" />
          <div *ngIf="submitted && f.CorreoP.errors" class="invalid-feedback">
            <div *ngIf="f.CorreoP.errors.required">Correo Requerido</div>
          </div>
        </div>

        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px">Contraseña</h6>
        <div class="form-group">
          <input type="text" #txt_contrasena class="form-control" formControlName="ContrasenaP"
            [ngClass]="{ 'is-invalid': submitted && f.ContrasenaP.errors }" />
          <div *ngIf="submitted && f.ContrasenaP.errors" class="invalid-feedback">
            <div *ngIf="f.ContrasenaP.errors.required">Contraseña Requerida</div>
          </div>
        </div>

        <h6 class="card-subtitle mb-2 text-muted">Descripcion</h6>
        <span class="btn btn-rose btn-round btn-file">
          <input type="file" class="form-control-file" id="exampleFormControlFile1"
            accept="image/png, image/jpeg, image/jpg, image/PNG, image/bmp" (change)="onPhotoChange($event)"
            name="photo">
        </span>
      </div>

      <button mat-icon-button color="accent" style="margin-left: 15px" id="registrar1_btn" class="btn btn-success">
        <mat-icon>save</mat-icon>
      </button>
    </form>

    <form name="form2" [formGroup]="form2" (ngSubmit)="onSubmit2()">

      <div class="col-md-12">

        <h5 class="card-title" style="margin-left: 200px">Información Actual:</h5>
        <div mat-dialog-content style="margin-left: 175px">
          Departamento: {{data.Departamento}}
          <p></p>
          Puesto: {{data.Puesto}}
          <p></p>
        </div>
        <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px; margin-left: 200px">Departamento</h6>
        <div class="form-group">
          <div class="input-group mb-3">
            <select class="form-control" id="dep1-Dropdown" name="departamento" style="margin-left: 200px"
              formControlName="Departamento" #select_dep data-style="btn-primary" data-live-search="true"
              data-selectpicker data-collection-name="items" ng-model="selected"
              [ngClass]="{ 'is-invalid': submitted2 && f2.Departamento.errors }">
              <option [ngValue]="null">Seleccione un Departamento</option>
            </select>
            <div *ngIf="submitted2 && f2.Departamento.errors" class="invalid-feedback">
              <div style=" margin-left: 200px" *ngIf="f2.Departamento.errors.required">Departamento Requerido</div>
            </div>
          </div>
        </div>

        <h6 class="card-subtitle mb-2 text-muted" style=" margin-left: 200px">Puesto</h6>
        <div class="form-group">
          <div class="input-group mb-3">
            <select class="form-control" id="puesto1-Dropdown" name="puesto" style=" margin-left: 200px"
              formControlName="Puesto" #select_puesto data-style="btn-primary" data-live-search="true" data-selectpicker
              data-collection-name="items" ng-model="selected"
              [ngClass]="{ 'is-invalid': submitted2 && f2.Puesto.errors }">
              <option [ngValue]="null">Seleccione un Puesto</option>
            </select>
            <div *ngIf="submitted2 && f2.Puesto.errors" class="invalid-feedback">
              <div style=" margin-left: 200px" *ngIf="f2.Puesto.errors.required">Puesto Requerido</div>
            </div>
          </div>
        </div>

        <h6 class="card-subtitle mb-2 text-muted" style=" margin-left: 200px">Sede</h6>
        <div class="form-group">
          <div class="input-group mb-3">
            <select class="form-control" id="sedes-Dropdown" name="sedes" style="margin-left: 200px"
              formControlName="Sede" #select_puesto data-style="btn-primary" data-live-search="true" data-selectpicker
              data-collection-name="items" ng-model="selected"
              [ngClass]="{ 'is-invalid': submitted2 && f2.Sede.errors }">
              <option [ngValue]="null">Seleccione una Sede</option>
            </select>
            <div *ngIf="submitted2 && f2.Sede.errors" class="invalid-feedback">
              <div style=" margin-left: 200px" *ngIf="f2.Sede.errors.required">Sede Requerida</div>

            </div>
          </div>
        </div>
        <button mat-icon-button color="accent" id="registrar2_btn" style="margin-left: 600px" class="btn btn-success">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>