<div class="container-fluid" style="margin-top: 75px">
  <!--Solo tendra una fila-->
  <div class="row">

    <!--Columna con la Informacion General de la Plataforma-->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center" style="margin: 100px">
      <h1 style="color: #0b4980">¿Qué es TEColones?</h1>
      <h2 style="margin-bottom: 50px">Dale valor al reciclaje con ésta ecomoneda virtual.</h2>
      <h3>Obtén beneficios como:<br>
        -Descuentos en el comedor<br>
        -Descuentos en el departamento financiero</h3>
    </div>

    <!--Columna con la Informacion de Inicio de Sesion-->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin: 25px">
      <!-- El card enmarca una zona de informacion-->
      <div class="card border-info" style="max-width: 50rem; margin-bottom: 20px">
        <div class="card-body text-center">
          <h5 class="card-title" style="margin:25px">Inicio de Sesion</h5>
          <h6 class="card-subtitle mb-2 text-muted">Usuario</h6>
        </div>
      </div>
    </div>
  </div>
</div>