<div class="container-fluid" style="margin-top: 75px">
  <!--Solo tendra una fila-->
  <div class="row">

    <!--Columna con la Informacion General de la Plataforma-->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center" style="margin: 100px">
      <h1 style="color: #0b4980">Control de Activos para la empresa</h1>
      <h2 style="margin-bottom: 50px">Manten el Orden de tu empresa con esta aplicación</h2>
      <h3>Realiza labores como:<br>
        -Registrar activos<br>
        -Consultar activos<br>
        -Asignar activos<br>
        -Generar Reportes</h3>
      <h4>Entre otras...</h4>

    </div>

    <!--Columna con la Informacion de Inicio de Sesion-->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin: 25px">
      <!-- El card enmarca una zona de informacion-->
      <div class="card border-info" style="max-width: 50rem; margin-bottom: 20px">
        <div class="card-body text-center">
          <h5 class="card-title" style="margin:25px">Inicio de Sesion</h5>
          <h6 class="card-subtitle mb-2 text-muted">Usuario</h6>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" #txt_username class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1" style="max-width:30rem;">
          </div>
          <show-hide-password  size="lg" btnStyle="primary" [btnOutline]="false">
            <input #txt_password type="password" name="..." >
          </show-hide-password>

          <!-- <h6 class="card-subtitle mb-2 text-muted">Contraseña</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="{{ typePassword ? 'text' : 'password' }}" id="passwordtype" name="password" #txt_password class="form-control" placeholder="Contraseña" aria-label="Contraseña"
              aria-describedby="basic-addon1" style="max-width:40rem;">
              <button (click)="showPassword()" type="button"  id="button_showpsw"
            class="btn btn-success">Show</button>
            <button (click)="hidePassword()"  style="margin-left:20px" type="button" id="button_showpsw"
            class="btn btn-success">hide</button>
          </div> -->

          <button (click)="login(txt_username.value,txt_password.value)" type="button" id="button_login"
            class="btn btn-success">LogIn</button>

        </div>
      </div>
    </div>
  </div>
</div>

