<div class="wrapper wrapper-full-page" style="background-color: rgba(94, 94, 94, 0.86);">
<br><br>
<div class="col-md-12">
  <div class="card">
    <form [formGroup]="type" class="form-horizontal">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title">Add Order</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <label>Bookstore: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="bookstore"
              (ngModelChange)="textValidationType($event)"
              formControlName="bookstore">
              <app-field-error-display [displayError]="isFieldValid(type, 'bookstore')" errorMsg="Must add a bookstore."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Books: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="books"
              (ngModelChange)="textValidationType($event)"
              formControlName="books">
              <app-field-error-display [displayError]="isFieldValid(type, 'books')" errorMsg="Must add a books."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Categories: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="categories"
              (ngModelChange)="textValidationType($event)"
              formControlName="categories">
              <app-field-error-display [displayError]="isFieldValid(type, 'categories')" errorMsg="Must add a categories."></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="addOrder()">Place Order</button>
      </div>
    </form>
  </div>
</div>
<br>
</div>