<div class="wrapper wrapper-full-page" style="background-color: rgba(94, 94, 94, 0.86);">
<br><br>
<div class="col-md-12">
  <div class="card">
    <form [formGroup]="type" class="form-horizontal">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title">Add Promo</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <label>Code: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="code"
              (ngModelChange)="textValidationType($event)"
              formControlName="code">
              <app-field-error-display [displayError]="isFieldValid(type, 'code')" errorMsg="Must add a code."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Name: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="name"
              (ngModelChange)="textValidationType($event)"
              formControlName="name">
              <app-field-error-display [displayError]="isFieldValid(type, 'name')" errorMsg="Must add a name."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Percent: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="number" matInput id="percent"
              (ngModelChange)="textValidationType($event)"
              formControlName="percent">
              <app-field-error-display [displayError]="isFieldValid(type, 'percent')" errorMsg="Must add a percent."></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>Description: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="description"
              (ngModelChange)="textValidationType($event)"
              formControlName="description">
              <app-field-error-display [displayError]="isFieldValid(type, 'description')" errorMsg="Must add a description."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Fecha Inicio: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validNumberType===true}" [ngClass]="displayFieldCss(type, 'number')">
              <input type="text" matInput id="begin"
              (ngModelChange)="textValidationType($event)"
              formControlName="begin">
              <app-field-error-display [displayError]="isFieldValid(type, 'begin')" errorMsg="Must add a begin."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Fecha Fin: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="end"
              (ngModelChange)="textValidationType($event)"
              formControlName="end">
              <app-field-error-display [displayError]="isFieldValid(type, 'end')" errorMsg="Must add a end."></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="addNewPromo">Add Promo</button>
      </div>
    </form>
  </div>
</div>
<br>
</div>