<div class="wrapper wrapper-full-page" style="background-color: rgba(94, 94, 94, 0.86);">
<br><br>
<div class="col-md-12">
  <div class="card">
    <form [formGroup]="type" class="form-horizontal">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title">Edit My Profile - {{idCard}}</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <label>Address: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="address"
              (ngModelChange)="textValidationType($event)"
              formControlName="address">
              <app-field-error-display [displayError]="isFieldValid(type, 'address')" errorMsg="Must add a address."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Phone Number: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validNumberType===true}" [ngClass]="displayFieldCss(type, 'number')">
              <input type="number" matInput id="phone"
              (ngModelChange)="textValidationType($event)"
              formControlName="phone">
              <app-field-error-display [displayError]="isFieldValid(type, 'phone')" errorMsg="Must add a phone."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label> Secondary Phone Number: </label>
            <mat-form-field class="example-full-width has-label">
              <input type="number" matInput id="phone2"
              formControlName="phone2">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          
          <div class="col-sm-4">
            <label>Email: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="email" matInput id="email"
              (ngModelChange)="textValidationType($event)"
              formControlName="email">
              <app-field-error-display [displayError]="isFieldValid(type, 'email')" errorMsg="Must add a email."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Password: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="password" matInput id="pass"
              (ngModelChange)="textValidationType($event)"
              formControlName="pass">
              <app-field-error-display [displayError]="isFieldValid(type, 'pass')" errorMsg="Must add a pass."></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button mat-raised-button type="submit" class="btn btn-success" (click)="upInfo()">Update</button>
      </div>
    </form>
  </div>
</div>
<br>
</div>