<app-admin></app-admin>
<div clas="row">
  
      <p>Grafica Pastel de la cantidad de Activos segun su estado</p>

    <div class="col-md-12">
      <div class="chart">  
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
