<div class="wrapper wrapper-full-page" style="background-color: rgba(94, 94, 94, 0.86);">
<br><br>
<div class="container-fluid">
  <div class="row" *ngIf="showSearch">
    <label>Search Bookstore</label>
    <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2" >
      <mat-form-field>
        <mat-select [(ngModel)]="bookstoreCode" [ngModelOptions]="{standalone: true}" placeholder="Bookstore" name="bookstore" (selectionChange)="searchBookstore($event.value)">
          <mat-option *ngFor="let bookstore of bookstores; let i = index" [value]="bookstore.code">
            {{ bookstore.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="card-columns">
    <ng-container *ngFor="let order of orders; let i = index" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{order._id}} - {{order.cliente}}</h5>
        <p class="card-text" ><strong>Date Requested: </strong> {{order.fechaPedido}} </p>
        <p class="card-text" ><strong>Total Amount: </strong> {{order.montoTotal}} <strong>Delivered: </strong> {{order.estado}}</p>
        <p class="card-text" ><strong>Books: </strong> {{order.libros}}
        <div class="row">
          <div class="col">
            <button (click)="viewOrder(order._id)" class="btn btn-primary">
              <i class="fas fa-edit"></i> View
            </button>   
          </div>
          <div class="col">
            <button (click)="deliverOrder(order._id,i)" class="btn btn-success" *ngIf="order.estado"disabled="true">
              <i class="fas fa-truck"></i> Deliver
            </button>
            <button (click)="deliverOrder(order._id,i)" class="btn btn-success" *ngIf="!order.estado" >
              <i class="fas fa-truck"></i> Deliver
            </button>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
</div>
