<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-3">
      <div class="card border-info" style="max-width: 50rem;
                margin-bottom: 20px">
        <div class="card-body text-center">
          <h5 class="card-title"> Insert Company</h5>
          <div class="row text-center">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                  placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                  type="text" #search>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Latitude" type="text" #search2>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Longitude" type="text" #search3>
              </div>
              <div>
                <button (click)=getAddress(search2.value,search3.value) type="button"
                  class="btn btn-info">Search</button>

              </div>
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>

              <h5>Address: {{address}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>
              <div>Type: {{tipo}}</div>
              <div>Phone: {{phone}}</div>
              <div>WebSite: {{website}}</div>
              <div>Rating: {{rating}}</div>
              <div>Schedule: {{schedule}}</div>
              <div>Photo: {{photo}}</div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" #id placeholder="Id" type="text">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" #name placeholder="Name" type="text">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" #description placeholder="Description" type="text">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" #repartidores placeholder="# Employees" type="text">
              </div>
              <button (click)=save(id.value,name.value,description.value,repartidores.value) type="button"
                class="btn btn-info">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">

      <table d ="table_company" name="table_company" class="table table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col">IdCompany</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">WebSite</th>
            <th scope="col">rating</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <th scope="row">{{ company.id }}</th>
            <td>{{ company.name }}</td>
            <td>{{ company.description}}</td>
            <td>{{ company.address}}</td>
            <td>{{ company.phone}}</td>
            <td>{{ company.webSite}}</td>
            <td>{{ company.rating}}</td>
            <td>
              <button (click)=deleteCompany(company.id) type="button"
              class="btn btn-info">Delete</button> </td>
          </tr>

        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
    </div>

    </div>



  </div>
</div>