<div class="wrapper wrapper-full-page" style="background-color: rgba(94, 94, 94, 0.86);">
<br><br>
<div class="col-md-12">
  <div class="card">
    <form [formGroup]="type" class="form-horizontal">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title">Edit Bookstore - {{code}}</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <label>Name: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="name"
              (ngModelChange)="textValidationType($event)"
              formControlName="name">
              <app-field-error-display [displayError]="isFieldValid(type, 'name')" errorMsg="Must add a name."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Country: </label>
            <mat-form-field>
              <mat-select [(ngModel)]="countrySelect" [(value)]="countrySelect" [ngModelOptions]="{standalone: true}" placeholder="Coutry" name="country">
                <mat-option *ngFor="let country of countries" [value]="country._id" >
                  {{ country.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Address: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="address"
              (ngModelChange)="textValidationType($event)"
              formControlName="address">
              <app-field-error-display [displayError]="isFieldValid(type, 'address')" errorMsg="Must add a address."></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>Phone Number: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validNumberType===true}" [ngClass]="displayFieldCss(type, 'number')">
              <input type="number" matInput id="phone"
              (ngModelChange)="textValidationType($event)"
              formControlName="phone">
              <app-field-error-display [displayError]="isFieldValid(type, 'phone')" errorMsg="Must add a phone."></app-field-error-display>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <label>Open Hours: </label>
            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
              <input type="text" matInput id="openHours"
              (ngModelChange)="textValidationType($event)"
              formControlName="openHours">
              <app-field-error-display [displayError]="isFieldValid(type, 'openHours')" errorMsg="Must add a openHours."></app-field-error-display>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <legend>Photo</legend>
            <input  accept="image/png, image/jpeg, image/jpg, image/PNG" type="file" name="photo" />
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button mat-raised-button type="submit" class="btn btn-success" (click)="upBookStore()">Update Bookstore</button>
      </div>
    </form>
  </div>
</div>
<br>
</div>