<form>
    <div class="form-group form-inline">
        <input class="form-control ml-2" type="text"
            [ngModelOptions]="{standalone:true}" [(ngModel)]="searchText" />
    </div>
</form>

<table id="table_empleado_Table" name="table_empleado" class="table
    table-striped">
    <thead>
        <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Apellido1</th>
            <th scope="col">Apellido2</th>
            <th scope="col">Nombre</th>
            <th scope="col">Departamento</th>
            <th scope="col">Puesto</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees| filter:searchText">
            <th scope="row">{{ employee.cedula }}</th>
            <td>{{ employee.apellido1 }}</td>
            <td>{{ employee.apellido2}}</td>
            <td>{{ employee.nombre}}</td>
            <td>{{ employee.departamento}}</td>
            <td>{{ employee.puesto}}</td>
            <td>{{ employee.fechaIn}}</td>
            <td>{{ employee.correo}}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
        [pageSize]="pageSize">
    </ngb-pagination>
</div>
