<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" style="color: white;">TECHealth</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
        <li  *ngIf="showAdmin" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/pages/admin/main']"><i class="fas fa-store-alt"></i> Bookstores</a>
        </li>
      
        <li  *ngIf="showBook" class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/book/main']"><i class="fas fa-book"></i> Books</a>
        </li>
        <li  *ngIf="showClientBook" class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/book/view']"><i class="fas fa-book"></i> Books</a>
        </li>
      
        <li  *ngIf="showPromo" class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/promo/main']"><i class="fas fa-tags"></i> Discounts</a>
        </li>
      
        <li  *ngIf="showOrder" class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/order/main']"><i class="fas fa-file-invoice"></i> Orders</a>
        </li>

        <li  *ngIf="showPlaceOrder" class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/order/agregar']"><i class="fas fa-file-invoice"></i> Place Order</a>
        </li>

        <li  *ngIf="showOrderHistory" class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/order/view']"><i class="fas fa-file-invoice"></i> Order History</a>
        </li>
      
      
        <li  *ngIf="showClient" class="nav-item" >
          <a class="nav-link" [routerLink]="['/pages/client/edit']" ><i class="fas fa-user"></i> Edit Profile</a>
        </li>
        <li  *ngIf="showAllClient" class="nav-item" >
          <a class="nav-link" [routerLink]="['/pages/client/main']" ><i class="fas fa-users"></i>Clients</a>
        </li>

        <li  *ngIf="showReport" class="nav-item" >
          <a class="nav-link" [routerLink]="['/pages/report/admin']" ><i class="fas fa-chart-bar"></i> Reports</a>
        </li>

        <li  *ngIf="showReportGerente" class="nav-item" >
          <a class="nav-link" [routerLink]="['/pages/report/gerente']" ><i class="fas fa-chart-bar"></i> Reports</a>
        </li>

        <li  *ngIf="showClient" class="nav-item" (click)="comment()" >
          <a class="nav-link"  ><i class="fas fa-comments"></i> Leave a Comment</a>
        </li>
      
        <li  *ngIf="showAuth" class="nav-item" (click)="logout()" routerLinkActive="active">
        	<a  class="nav-link" [routerLink]="['/auth/login']">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
