<div *ngIf="user==1">
  <div>
    <nav class="navbar navbar-dark" style="background-color: #0b4980;">
      <a class="navbar-brand" id="logo" [routerLink]="['/pages/client']">Cliente</a>
      <button (click)="CerrarSesion()" type="button" class="btn
        btn-outline-light" id="btnCerrarSesion">
        CERRAR SESION
      </button>
    </nav>
  </div>

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pages/client/history']">History</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pages/client/order']">Order</a>
      </li>

    </ul>
  </div>
</div>




<div *ngIf="user==0">
  <div>
    <nav class="navbar navbar-dark" style="background-color: #0b4980;">
      <a class="navbar-brand" id="logo" [routerLink]="['/pages/admin']">Administrador</a>
      <button (click)="CerrarSesion()" type="button" class="btn
        btn-outline-light" id="btnCerrarSesion">
        CERRAR SESION
      </button>
    </nav>
  </div>

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pages/admin/maps']">Agregar Sitios de Partida</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pages/admin/products']">Agregar Productos</a>
      </li>

    </ul>
  </div>
</div>




<router-outlet></router-outlet>
